@font-face {
	font-family: "marcellus";
    src: url('../fonts/marcellus-regular-webfont.woff2') format('woff2'),
         url('../fonts/marcellus-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html {
	line-height: 1.15;
	-webkit-text-size-adjust: 100%
	font-family: 'Marcellus'
}

body {
	margin: 0
	font-family: 'Marcellus';
}


	}

h1 {
	font-size: 2em;
	margin: .67em 0;
	font-family: 'Marcellus'
}

.avenir {
  font-family: 'Marcellus'
  color: white
}

a{
  color: green;
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
}

a:link {
  color: green;
  text-decoration: none;
}

a:visited {
  color: darkgreen;
}

a:focus {
  border-bottom: 1px solid;
  background: limegreen;
  color: black
}

a:hover {
  border-bottom: 1px solid;     
  background: limegreen;
  color: black
}

a:active {
  background: #265301;
  color: limegreen;
}

.footnote-ref{
  vertical-align: super; /* 2 */
  font-size: 0.7em; /* 3 */
  margin-left: 2px; /* 4 */
  color: green; /* 5 */
  text-decoration: underline; /* 5 */
  cursor: pointer; /* 5 */

}
.hover-white:link{
color: rgb(211, 211, 211);

}
.hover-white:visited{
  color: rgb(211, 211, 211);
}
.hover-white:focus{
  background: limegreen;
  color: black
}
.hover-white:hover {

  background: limegreen;
  color: black
}

/**
a11y css footnote via https://www.sitepoint.com/accessible-footnotes-css/
 * Initialiazing a `footnotes` counter on the wrapper
 */
 article {
  counter-reset: footnotes;
}

/**
 * Inline footnotes references
 * 1. Increment the counter at each new reference
 * 2. Reset link styles to make it appear like regular text
 */
[aria-describedby="footnote-label"] {
  counter-increment: footnotes; /* 1 */
  text-decoration: none; /* 2 */
  color: inherit; /* 2 */
  cursor: default; /* 2 */
  outline: none; /* 2 */
}

/**
 * Actual numbered references
 * 1. Display the current state of the counter (e.g. `[1]`)
 * 2. Align text as superscript
 * 3. Make the number smaller (since it's superscript)
 * 4. Slightly offset the number from the text
 * 5. Reset link styles on the number to show it's usable
 */
[aria-describedby="footnote-label"]::after {
  content: '[' counter(footnotes) ']'; /* 1 */
  vertical-align: super; /* 2 */
  font-size: 0.5em; /* 3 */
  margin-left: 2px; /* 4 */
  color: green; /* 5 */
  text-decoration: underline; /* 5 */
  cursor: pointer; /* 5 */
}

/**
 * Resetting the default focused styles on the number
 */
[aria-describedby="footnote-label"]:focus::after {
  outline: thin dotted;
  outline-offset: 2px;
}

[aria-label="Back to content"] {
  font-size: 0.8em;
}

/**
 * Highlight target note
 */
footer :target {
  background: yellow;
}