---
date: 2020-02-17T11:00:59-04:00
description: "réflexion-sur-les-évolutions-métier"
featured_image: ""
tags: []
title: "Redéfinir les métiers pour se les réapproprier"
---
<section id="réflexion-sur-les-évolutions-métier.-redéfinir-les-métiers-pour-se-les-réapproprier" class="level3" data-number="4.0.1">

<p>Dans <i>Vu, lu, su, (2012),</i> Jean Michel Salaün propose de redéfinir les compétences des bibliothécaires et de les renommer « architectes de l’information » au vu de ces nouvelles compétences. Pourtant l’ensemble du texte tend à prouver que la gestion et l’organisation de l’information auquel le terme d’architecte renvoi explicitement a toujours été le métier des bibliothécaires. Cette redéfinition n’est pas une réécriture, c’est un moyen de tracer une ligne du passé vers le futur, un guide pour identifier les choix pertinents dans un contexte de sur information et de possibles exponentiels. Cette démarche est transposable à de nombreux métiers et je souhaite ici tenter de l’appliquer aux métiers techniques de l’édition numérique, dans une tentative d’organiser les compétences requises et souhaitables pour participer pleinement aux évolutions en cours. Nous avons vu précédemment que l’édition aujourd’hui est souvent partagée entre une pratique traditionnelle représentée par les maquettistes d’édition et une pratique plus récente représentée par les spécialistes de l’informatique éditoriale, nous définirons précisément ces deux facettes du métier pour tenter une synthèse définissant le profil professionnel le plus à même de profiter de ces deux univers qui paraissent parfois si éloignés.</p>
<section id="maquettiste-dédition-designer-des-textes-et-des-publications" class="level5" data-number="4.0.1.0.1">
<h2 data-number="4.0.1.0.1">Maquettiste d’édition, designer des textes et des publications</h2>
<p>Les évolutions techniques rapides du XX° siècle ne doivent pas nous faire oublier que le travail de présentation des documents que l'on nomme mise en page est aussi ancien que le support d'écriture et a subi autant de modifications que ces derniers. Dès l'apparition de l'écriture, la volonté de réaliser des textes longs a nécessité la mise au point de procédés pour comprendre la succession et la hiérarchisation des contenus. Avant l'arrivée de l'imprimerie et des moyens mécaniques de reproduction, la mise en page est le travail des copistes qui travaillent à la main, mais déjà des grilles simples permettent de diviser la page et d'assurer des proportions harmonieuses. Les principes de titres, de marges, de notes et les enluminures sont réfléchis avant l'écriture de chaque page, définissant ainsi une structure cohérente à même de rendre l’expérience de lecture le plus agréable possible. À cette époque ces compétences sont considérées comme un art à part entière.</p>
<p>La composition en plomb, préalable aux moyens mécaniques de l'imprimerie implique une rigueur différente et limite la fantaisie du copiste devenu compositeur, la partie artistique repose sur le travail des maîtres typographes, les imprimeurs créant alors leurs propres caractères avant que la chaine de production ne se spécialise et mette en avant les illustrateurs et fondeurs de caractères comme porteurs de la part artistique.</p>
<p>Travail de labeur effectué par des ouvriers, la composition en plomb nécessite cependant une instruction minimum, lire et écrire, ce qui explique que les ouvriers typographes soient très présents dans les cercles d’études, comités politiques et universités populaires. Le lien avec la pensée et l'art ne s'est ainsi pas perdu malgré l'industrialisation des pratiques de mise en page. Les maîtres typographes pour leur part restent généralement formés aux beaux arts. Bien qu'utile et par là même opposée à l'art dans sa fonction de contemplation pure, la mise en page repose sur plusieurs arts visuels, les connaissances qui sont nécessaires relèvent de l'illustration, de la peinture et plus généralement du 3° art selon la classification des arts établie en 1969 par le philosophe Étienne Souriau.</p>
<p>C'est au XX° siècle que la réflexion sur les arts se penchera spécifiquement sur la mise en page, portée par les principes du design moderniste dont le fer de lance est le Bauhaus à Weimar. Des écoles dédiées et des tendances apparaissent, influencées par les écrits de Jan Tschichold, notamment l’ouvrage <i>La nouvelle typographie</i>, paru en 1928. La mise en tension des univers artistiques et industriels est fondatrice de la notion de design (Huyghe, 1999) le typographe peut alors revendiquer le titre de designer.</p>
<p>La diversité des connaissances nécessaires, l'emprunt aux différents arts visuels et la nécessité de maîtriser plusieurs spécialités ont donné lieu à la création de l’appellation graphiste dans cette même période, le terme répondant mieux aux besoins des agences publicitaires et maisons d'éditions. Avec les outils informatiques et l'omniprésence de la PAO, les frontières se brouillent à nouveau sur les compétences requises, le métier de graphiste considéré comme entièrement numérique est supprimé de la liste des métiers d'arts par la loi du 18 juin 2014 qui définit ces derniers par une pratique de la matière :</p>
<blockquote>
<p><i>« Relèvent des métiers d'art, […] les personnes physiques ainsi que les dirigeants sociaux des personnes morales qui exercent, à titre principal ou secondaire, une activité indépendante de production, de création, de transformation ou de reconstitution, de réparation et de restauration du patrimoine, caractérisée par la maîtrise de gestes et de techniques en vue du travail de la matière et nécessitant un apport artistique. »</i> Article 22 de la loi n° 2014-626 du 18 juin 2014 relative à l'artisanat, au commerce et aux très petites entreprises.</p>
</blockquote>
<p>Si les outils ont changé et que la mise en page nécessite moins de manipulation du crayon ou du papier, les concepts qui régissent les règles d'une présentation restent les mêmes que ceux des arts visuels. Nombre de graphistes, maquettistes spécialisés sur la mise en page restent attachés au travail manuel et pratiquent le croquis avant de porter sur informatique leur création.</p>
<p>Le support numérique implique des contraintes différentes de celles du papier. La variété des dispositifs de lecture et des tailles d'écrans est la partie la plus visible, il est impossible de déterminer une taille de marge pour chaque dispositif. Contrôler la lisibilité d'une mise en page implique une connaissance encore meilleure des concepts fondamentaux que sont la grille et l'espacement, les blancs et le gris typographique. Mais le maquettiste n'est plus seul à pouvoir agir sur ces éléments. Le dispositif de lecture peut intervenir dans le rendu final et l'usager peut aussi avoir le choix de modifier l'aspect graphique.</p>
<p>Pour répondre aux nouvelles contraintes, l'art de la mise en page doit apprendre de nouvelles techniques qui dépendent des sciences de l'informatique. C’est-à-dire qu'il faut apprivoiser le medium qu'est la matière numérique.</p>
</section>
<section id="ingénieur-en-informatique-éditoriale-spécialiste-de-loutil-numérique" class="level5" data-number="4.0.1.0.2">
<h2 data-number="4.0.1.0.2">Ingénieur en informatique éditoriale, spécialiste de l’outil numérique</h2>
<p>L'édition de documents numériques fait face à des contraintes de mise en page totalement différentes de l'édition imprimée. La première contrainte, la plus évidente est liée aux dispositifs d'affichage. Il faut distinguer la résolution du dispositif, c'est-à-dire le nombre de pixels affichables et le ratio, c'est-à-dire le rapport hauteur largeur. Ces deux éléments peuvent être fortement variables, d'un écran de téléphone de 3 pouces à un écran d’ordinateur de 27 pouces en passant par les liseuses monochromes et les contenus projetés en haute définition. Il n'est pas possible d'appliquer un plus petit dénominateur commun, ni de définir des règles pour chaque cas de figure. De plus le mode de consultation d'un document numérique peut ne pas être exclusivement visuel, mais prendre une forme sonore ou tactile via l'utilisation d'une plage braille comme nous l'avons vu au premier chapitre de ce mémoire.</p>
<p>Dans un tel contexte, les compétences du maquettiste doivent s'étendre à la maîtrise du codage informatique, mais là aussi, la dénomination d'informaticien regroupe aujourd'hui une grande variété de professions qui n'ont parfois que peu à voir avec le gestion de l'information et une clarification sémantique est nécessaire.</p>
<p><i>« La science informatique n'est pas plus la science des ordinateurs que l'astronomie n'est celle des télescopes. »</i> (Schneider, 2009). Cette formule montre bien la confusion des termes, utilisée pour désigner tant le matériel et sa conception que le développement d'applications, le terme « informatique » est défini comme « science du traitement de l'information » en 1966 par l’Académie française, nous nous en tiendrons à cette définition pour comprendre les nouvelles compétences des spécialistes de l'édition numérique.</p>
<p>La multiplicité des solutions de lecture est une mise en tension entre les fabricants de matériel et de solutions logicielles, chacun cherchant à maintenir et étendre ses parts de marché en proposant des solutions innovantes, mais aussi en cherchant à enfermer les utilisateurs dans un écosystème privé. Dès la mise en réseau des ordinateurs par le protocole http au début des années 90, la guerre des navigateurs caractérisée par l’affrontement entre Netscape Navigator et Microsoft Internet Explorer rend la vie des créateurs de site web compliquée et l’expérience de lecture frustrante pour les usagers qui n’ont pas choisi le navigateur optimisé.</p>
<p>La communauté du web se regroupe alors au sein du World Wide Web Consortium (W3C) pour promouvoir la compatibilité des technologies comme son slogan l’indique : « un seul web partout et pour tous ». Un des maîtres mots est l’interopérabilité qui assure le fonctionnement entre des systèmes ou des produits différents. L’outil principal est la publication de normes et de standards qui doivent être suffisamment ouverts pour convaincre les producteurs de contenus et de solutions de lecture de les utiliser. Pour cela le W3C regroupe 421 organisations<a href="#fn1" class="footnote-ref" id="fnref1" epub:type="noteref" role="doc-noteref">1</a> ,des industriels (Microsoft, Apple, Google, Adobe), mais aussi des organisations représentants les utilisateurs, notamment ceux qui ont des besoins spécifiques pour accéder aux contenus ou pouvoir utiliser une application (Consortium Daisy, BrailleNet).</p>
<p>Le terme d’informatique éditoriale s’étend à toute la sphère de la publication numérique, mais il est souvent utilisé pour désigner les personnes travaillant spécifiquement dans l’univers du livre, pour le compte des éditeurs. Ils peuvent être en charge de la production ou de la conversion de quelques ouvrages, mais le coeur de leur métier consiste à créer, maintenir ou déployer des outils qui permettent d’automatiser les processus. Ils produisent pour cela des cahiers des charges, des grammaires XML et des programmes XSLT, deux langages déclaratifs normés par le W3C. Ces compétences très techniques peuvent aujourd’hui être allégées en choisissant des langages plus répandus comme le HTML pour lequel de nombreux outils de conversion et de manipulation existent, souvent sous licence libre.</p>
<p>Dans la civilisation du poisson rouge (2019), Bruno Patino détaille les difficultés de concentration et de choix dans l’économie de l’attention qu’est le monde <span role="doc-pagebreak" id="page89" aria-label="89"></span>numérique. Pour les producteurs et distributeurs de contenus, le choix, la précision et la fiabilité des métadonnées, ces données qui définissent des données, devient un enjeu décisif pour assurer la découvrabilité et la durée dans le temps. Or les métadonnées comme les données font l’objet de besoins différents selon les métiers et les normes et standards qui les encadrent sont nombreux et variés. Leur interopérabilité est aussi une caractéristique qui doit être prise en compte pour assurer la conversion et la pérennité des documents numériques.</p>
<p>Une compréhension des sciences informatiques et des enjeux qui sous tendent une économie numérique qui expérimente encore des modèles viables et pérennes est ainsi fondamentale pour s’engager dans un projet de publication numérique sans remplacer l’apport artistique et critique de l’histoire de l’édition et de ses métiers.</p>
</section>
<section id="concepteur-de-livres-numériques" class="level5" data-number="4.0.1.0.3">
<h2 data-number="4.0.1.0.3">Concepteur de livres numériques</h2>
<p>Wikipédia tente une définition du spécialiste de l’édition numérique sous l’appellation Publicateur<a href="#fn2" class="footnote-ref" id="fnref2" epub:type="noteref" role="doc-noteref">2</a>, mais le terme est trop générique pour s’appliquer à la seule édition numérique. Une définition plus juste : <i>« Celui qui publie, édite »</i> est donnée par le Centre national de ressources textuelles et lexicales (CNRTL) sur Ortholang, un portail qui fédère un ensemble de ressources linguistiques informatisées et d’outils de traitement de la langue<a href="#fn3" class="footnote-ref" id="fnref3" epub:type="noteref" role="doc-noteref">3</a>.</p>
<p>Jiminy Panoz utilise le terme de <i>« développeur et designer de livre numériques »</i> pour se présenter sur son site internet, il définit les principales compétences nécessaires pour un designer de livres numériques dans un article de 2013<a href="#fn4" class="footnote-ref" id="fnref4" epub:type="noteref" role="doc-noteref">4</a>. Il identifie clairement l’aspect hybride de ce professionnel du design, héritier des identités du livre et du web ainsi que le caractère novateur de cette activité, la curiosité, la polyvalence et la créativité qui marquent les pionniers dans toute aventure humaine.</p>
<p>La conception du designer propre à la philosophie Bauhaus impliquant la maîtrise des outils par le créateur, la pratique des contraintes du medium et la recherche de fonctionnalité, plaide en faveur de la formule <i>designer de livres numériques</i>. Dans ce sens, la dénomination de designer numérique semble adéquate et présente l’avantage de lier art et informatique.</p>
<p>Il est cependant probable que comme dans les projets numériques de type application ou site web, le secteur se structure sur une nouvelle division du travail, une équipe composée de designers et de développeurs, au designer les outils graphiques et au développeur la robustesse et la pérennité du code. Plus délimité et plus simple à organiser, ce découpage du travail en fonction de spécialités précises assure à l’industrie une indépendance vis à vis des professionnels, les compétences isolées étant plus faciles à trouver, le chef de projet assurant le lien et la cohésion, généralement sous un angle managérial. Dans un tel contexte, l’inventivité des professionnels est souvent bridée, le champ des possibles proportionnellement au champ de vision du travailleur sur l’oeuvre finale.</p>
<p>Le terme designer, bien qu’approprié risque donc d’être interprété de façon tronquée par les décideurs et partenaires. La fonction du designer qui nous intéresse ici étant plus proche du concepteur de produits que de celle d’artiste plasticien, il est envisageable d’utiliser le terme de concepteur dont la tâche englobe l’étude des conditions, étude qui se renouvelle sans cesse du fait de l’aspect novateur du livre numérique, la création de projets pérennes et leur réalisation.</p>
</section>
</section>

<aside class="endnotes" epub:type="endnotes" role="doc-endnotes">
<hr />
<ol>
<li id="fn1" epub:type="endnote" role="doc-endnote"><p>Wikipédia, World Wide Web Consortium, 2019.</p>
<p><a href="https://fr.wikipedia.org/wiki/World_Wide_Web_Consortium"><span class="underline">https://fr.wikipedia.org/wiki/World_Wide_Web_Consortium</span></a> [Consulté le 18 septembre 2019]<a href="#fnref1" class="footnote-back" role="doc-backlink">↩︎</a></p></li>
<li id="fn2" epub:type="endnote" role="doc-endnote"><p><a href="https://fr.wikipedia.org/wiki/Publicateur"><span class="underline">https://fr.wikipedia.org/wiki/Publicateur</span></a> [consulté le 19 septembre 2019].<a href="#fnref2" class="footnote-back" role="doc-backlink">↩︎</a></p></li>
<li id="fn3" epub:type="endnote" role="doc-endnote"><p><a href="https://www.cnrtl.fr/definition/publicateur"><span class="underline">https://www.cnrtl.fr/definition/publicateur</span></a> [consulté le 19 septembre 2019].<a href="#fnref3" class="footnote-back" role="doc-backlink">↩︎</a></p></li>
<li id="fn4" epub:type="endnote" role="doc-endnote"><p>Panoz, Jiminy, 2013. Les compétences du designer de livres numériques. <a href="http://jiminy.chapalpanoz.com/les-competences-du-designer-de-livres-numeriques"><span class="underline">http://jiminy.chapalpanoz.com/les-competences-du-designer-de-livres-numeriques</span></a> [consulté le 19 septembre 2019].<a href="#fnref4" class="footnote-back" role="doc-backlink">↩︎</a></p></li>
</ol>
</aside>