---
date: 2020-02-17T11:00:59-04:00
description: "Outils"
featured_image: ""
tags: [outils]
title: "Sur les outils"
---
<p>Les progrès techniques dans le monde de l’édition sont portés depuis un demi siècle par l’informatisation des métiers. Des compétences nouvelles deviennent nécessaires au traitement des fichiers, qu’il s’agisse de la structuration des contenus ou de leur description par des métadonnées complètes. Une approche souvent constatée consiste à séparer l’activité éditoriale traditionnelle et le traitement informatisé à posteriori à des fins de publication numérique ou d’archivage. De cette façon, on superpose une activité d’informatique éditoriale sans affecter les structures existantes. Respectant ainsi les habitudes de travail, on évite les écueils de la dite résistance au changement. Au delà de la multiplication des coûts, cette approche a pour conséquence de brider les possibilités offertes par les outils informatiques et de limiter les professionnels à une vision partielle de leur métier. Mon approche que je détaille ici se focalise sur les avantages en terme de confort et de plénitude pour les professionnels lorsqu’ils ont la possibilité de repenser leur métier dans son ensemble.</p>

<h2 data-number="0.7.3.1">Pratiques et positionnement professionnel</h2>
<p>Le terme de pratiques professionnelles définit des suites de manipulations et de décisions prises lors de la réalisation d’une action, le plus souvent de type production d’un fichier, imprimable ou destiné à la lecture numérique. Il recouvre également des actions de gestion, d’apprentissage ou de partage. Le terme de pratiques est aussi entendu comme porteur d’un savoir spécifique qui bien que souvent non exprimé et partiellement conscientisé, implique une base théorique.</p>
<p>L'analyse des pratiques professionnelles permet de commencer à appréhender l’ampleur de ce qui se cache derrière un geste quotidien comme par exemple l’inscription dans un registre numérique d’une ligne d’information concernant le fichier que l’on s’apprête à produire. À la fois règle d’action et mise en œuvre, la pratique implique des gestes, conduites et langages ainsi que des règles, objectifs et stratégies (Beillerot, Jacky, 1996). Les écrits de Pierre Bourdieu (1980 et 1994) permettent d’approfondir la compréhension et l’étendue de ces implications.</p>
<p>Le numérique modifie nos habitudes de travail et interroge nos pratiques professionnelles. Les évolutions rapides auxquelles les professionnels sont confrontés, avec des outils toujours plus nombreux, des possibilités toujours plus étendues et une injonction silencieuse à toujours produire plus sans moyens supplémentaires peuvent être effrayantes. L’apport d’une réflexion sur un temps long permet de retrouver du calme et d’observer les tendances à long terme pour éviter les distractions et construire une stratégie durable. L’ouvrage <i>Éloge du carburateur</i> de Matthew B. Crawford (2010) sur le sens et la valeur du travail est un guide qui permet de comprendre d’une part que notre action s’inscrit dans un écosystème dont on est dépendant et d’autre part que la compréhension et la maîtrise de nos outils de travail sont essentielles pour assurer un sens du travail porteur de plénitude.</p>

<h3 data-number="0.7.3.1.1">De la maîtrise des outils</h3>
<p>En 1927, Heiddeger précisait que l’outil prend sens par son usage et qu’on ne peut pas le décontextualiser de sa fonction. Facilement identifiable, l’action de planter un clou donne du sens à l’objet marteau. Cette approche devient plus difficile à transposer lorsque les outils sont multifonction comme c’est souvent le cas en informatique. Un logiciel de traitement de texte sert par exemple à la fois à écrire un texte et à le mettre en forme. Une fonction peut alors influencer l’autre, l’auteur choisissant ses phrases en fonction de la place restant dans la page, ou au contraire modifiant la forme en cours d’écriture pour éviter cette ligne seule en début de page qui lui interdit toute concentration sur l’acte d’écriture.</p>
<p>Pour en revenir au marteau, il peut servir à planter un clou, enfoncer un coin ou à casser un mur et l’observateur attentif relèvera que ce sont différents marteaux qui seront utilisés en fonction de l’objectif recherché. Certes, le même marteau peu servir aux différents usages, mais un outil adapté servira mieux la tâche spécifique pour laquelle il a été pensé. Il en va de même en informatique, où un petit logiciel dédié à une seule tâche sera bien souvent plus efficace qu’un logiciel <i>tout en un</i> cherchant à assurer toutes les tâches. Penser les outils informatiques comme l’on penserait des outils physiques permet au professionnel de s’approprier ses instruments de travail et de s’assurer de leur maîtrise, c’est-à-dire de comprendre pourquoi tel logiciel est plus adapté que tel autre pour une tâche bien précise.</p>
<p>Généralement considérés trop complexes pour être compris par les professionnels non informaticiens, les outils informatiques sont développés en dehors du champ de vision de leurs utilisateurs et répondent à un besoin identifié. De cette façon les possibilités nouvelles de la conception informatique sont exclues de l’analyse des besoins et les logiciels les plus répandus sont centrés sur une homothétie du modèle antérieur. Les logiciels dédiés au design cherchent à reproduire une table à dessin et ceux dédiés à la bureautique reproduisent l’expérience de la machine à écrire, les fonctionnalités supplémentaires sont ensuite ajoutées comme une surcouche améliorant l’expérience utilisateur. À contrario, les informaticiens ont l’habitude de créer leurs propres outils en fonction d’un besoin spécifique ou bien de chercher l’utilitaire adapté à une tâche précise.</p>
<p>De cette trop grande dépendance des professionnels envers des outils qui ne leur appartiennent plus nait la résistance au changement et le sentiment de dépossession qui génère des positions dures et sans appel contre toute évolution. La conséquence est une fragmentation du métier en différentes entités professionnelles dont l’approche différente est un frein à toute communication. Au delà de la mise en difficulté de professionnels très compétents, c’est toute l’organisation du travail qui se trouve affectée par des surcoûts et une inadéquation aux enjeux de l’informatisation.</p>


<h3 data-number="0.7.3.1.2">Pour une praticité de la production</h3>
<p>Le manque de maîtrise sur les outils a pour conséquence de limiter l’imaginaire des professionnels et par là même les possibilités à leur portée pour organiser une activité de production. De cette façon les possibles deviennent préalables à la définition des besoins et impliquent une limitation de ce qui pourra être réalisé. Les progrès techniques dans la structuration des textes sont par exemple envisagés comme préalables à la production de documents numériques accessibles. Or les principaux logiciels de mise en page ont tardé à permettre cette structuration et même aujourd’hui, ces fonctions ne sont pas centrales et peu mises en avant.</p>
<p>La mise en place d’une chaîne de publication dédiée à l’accessibilité nous a obligés à tricher avec les fonctions offertes par Adobe InDesign et à aborder une approche non conventionnelle de la construction des documents axée sur la linéarité du contenu et le chainage entre blocs. Cette façon de construire le document permet de compléter les exportations proposées par des feuilles CSS personnalisées et facilite un post traitement rendu nécessaire par la conception du livre numérique propre à l’entreprise Adobe et son positionnement de leader sur le marché du document électronique, position que l’entreprise souhaite conserver et accroître.</p>
<p>Cette démarche de rendre les outils adaptés à nos besoins, nous a appris à utiliser le logiciel de façon différente et à l’envisager comme un élément parmi d’autres à disposition dans notre boite à outils. Après une période de réapprentissage des gestes quotidiens, nous avons pu constater un meilleur confort de travail et une sensation de maîtrise. Nous savons précisément pourquoi nous utilisons des styles de caractères ou de paragraphes et non pas la barre de formatage directe pourtant si pratique et porteuse d’une impression de liberté. Notre liberté passe désormais par la maîtrise de la structure du document et les compétences en écriture de code CSS et se trouve au final plus grande et porteuse de plus de possibles.</p>

<h2 data-number="0.7.3.2">Des outils pour une émancipation professionnelle</h2>
<p>Pour s’approprier des outils de travail et penser au-delà des limites que nous imposent les logiciels, il est utile d’avoir un champ de vision le plus large possible. Avoir conscience qu’il n’existe pas une seule façon de faire nécessite en effet de connaître d’autres méthodes. En ce sens la pratique de l’estampe et la connaissance des procédés d’impression antérieurs à la presse numérique permettent déjà de comprendre les choix faits par les logiciels de composition numérique, d’évaluer leur apport mais aussi ce qu’il n’est plus possible de réaliser. L’expérience et la curiosité sont ainsi des bases solides pour s’assurer un large horizon, mais l’organisation et la confrontation des lectures, des rencontres et des projets permettent d’assurer une réflexion pérenne et porteuse de sens dans le temps long. </p>
