---
date: 2020-02-17T10:58:08-04:00
description: "Principales abréviations utilisées et leur signification."
featured_image: "/images/ea-carnets-abbr.png"
tags: ["Lexique, abréviations, index"]
title: "Abréviations"
---

<i>L'élément <code>abbr</code> représente une abréviation ou un 
    acronyme et permet, de façon optionnelle, d'en fournir une description complète.
</i>
<hr/>
<p><abbr title="accessible book consortium. ">ABC</abbr> : accessible book consortium. </p>
<p><abbr title="association des bibliothécaires de France.">ABF</abbr> : association des bibliothécaires de France.</p>
<p><abbr title="association des donneurs de voix.">ADV</abbr> : association des donneurs de voix.</p>
<p><abbr title="association des transcripteurs adaptateurs francophones.">ATAF</abbr> : association des transcripteurs adaptateurs francophones.</p>
<p><abbr title="association Valentin Haüy.">AVH</abbr> : association Valentin Haüy.</p>
<p><abbr title="boat in a box, radeau de sauvetage.">BIB</abbr> : boat in a box, radeau de sauvetage.</p>
<p><abbr title="bibliothèque nationale de France.">BNF</abbr> : bibliothèque nationale de France.</p>
<p><abbr title="laboratoire cognition, langues, langage, ergonomie.">CLLE</abbr> : laboratoire cognition, langues, langage, ergonomie.</p>
<p><abbr title="cascading style sheet.">CSS</abbr> : cascading style sheet.</p>
<p><abbr title="centre technique régional pour la déficience visuelle (Villeurbanne).">CTRDV</abbr> : centre technique régional pour la déficience visuelle (Villeurbanne).</p>
<p><abbr title="digital audio information system.">DAISY</abbr> : digital audio information system.</p>
<p><abbr title="loi relative au droit d'auteur et aux droits voisins dans la société de l'information.">DADVSI</abbr> : loi relative au droit d'auteur et aux droits voisins dans la société de l'information.</p>
<p><abbr title="duxbury braille translator.">DBT</abbr> : duxbury braille translator.</p>
<p><abbr title="european digital reading laboratory.">EDRLab</abbr> : european digital reading laboratory.</p>
<p><abbr title="electronic publication.">EPUB</abbr> : electronic publication.</p>
<p><abbr title="fédération nationale pour l'insertion des sourds et des aveugles en France.">FISAF</abbr> : fédération nationale pour l'insertion des sourds et des aveugles en France.</p>
<p><abbr title="fédération des aveugles et amblyopes de France.">FAF</abbr> : fédération des aveugles et amblyopes de France.</p>
<p><abbr title="fédération des aveugles et amblyopes de france Languedoc-Roussillon.">FAF-LR</abbr> : fédération des aveugles et amblyopes de france Languedoc-Roussillon.</p>
<p><abbr title="groupement des intellectuels aveugles et amblyopes.">GIAA</abbr> : groupement des intellectuels aveugles et amblyopes.</p>
<p><abbr title="hypertext markup langage.">HTML</abbr> : hypertext markup langage.</p>
<p><abbr title="fédération internationale des associations et institutions de bibliothèques.">IFLA</abbr> : fédération internationale des associations et institutions de bibliothèques.</p>
<p><abbr title="international digital publishing forum.">IDPF</abbr> : international digital publishing forum.</p>
<p><abbr title="institut national des jeunes aveugles.">INJA</abbr> : institut national des jeunes aveugles.</p>
<p><abbr title="Montpellier recherche en management.">MRM</abbr> : Montpellier recherche en management.</p>
<p><abbr title="nouvelles technologies d’information et de communication.">NTIC</abbr> : nouvelles technologies d’information et de communication.</p>
<p><abbr title="organisation mondiale de la propriété intellectuelle.">OMPI</abbr> : organisation mondiale de la propriété intellectuelle.</p>
<p><abbr title="Open Publication Distribution System.">OPDS</abbr> : Open Publication Distribution System.</p>
<p><abbr title="pupilles de l'enseignement public.">PEP</abbr> : pupilles de l'enseignement public.</p>
<p><abbr title="Répertoire national des certifications professionnelles.">RNCP</abbr> : Répertoire national des certifications professionnelles.</p>
<p><abbr title="service d’aide à l’acquisition de l’autonomie en inclusion scolaire.">SAAAIS</abbr> : service d’aide à l’acquisition de l’autonomie en inclusion scolaire.</p>
<p><abbr title="système d’information.">SI</abbr> : système d’information.</p>
<p><abbr title="syndicat national de l’édition.">SNE</abbr> : syndicat national de l’édition.</p>
<p><abbr title="extensible markup langage.">XML</abbr> : extensible markup langage.</p>
<p><abbr title="extensible stylesheet language transformations.">XSLT</abbr> : extensible stylesheet language transformations.</p>
<p><abbr title="world wide web consortium.">W3C</abbr> : world wide web consortium.</p>